@charset "UTF-8";

/*===========首頁內容===========*/
main{
    width: 100%;
    display: block;
}
/* --------------------------main_banner---------------------------- */
.main_banner{
    min-width: 100%;
    height: 80vh;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_banner_inner{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.mb_right{
    width: 50%;
    display: flex;
    justify-content: center;
}
.mb_right .mb_right_txt h1{
    font-size: 40px;
    padding: 140px 0px 20px 0px;
    font-weight: 600;
    color: var(--blue-color);
}
.mb_right p{
    font-size: 16px;
    padding: 0px 0px 40px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.mb_pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mb_pic img{
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.main_banner{
    min-width: 100%;
    height: 100%;
    
}
.main_banner_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.mb_right{
    width: 100%;
    padding: 0px 30px 0px 30px;
    order: 1;
}
.mb_right .mb_right_txt h1{
    padding: 30px 0px 20px 0px;
    line-height: 50px;
}
.mb_pic{
    width: 85%;
    order: 2;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.main_banner{
    height: 45vh;
    padding-top: 0px;
}
.main_banner_inner{
    width: 90%;
}
.mb_right .mb_right_txt h1{
    font-size: 34px;
}
.mb_pic{
    width: 45%;
    align-self: center;
}
}
/* ---------------------------最新文章------------------------------- */
.content_latest{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_latest_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_latest_inner_txt{
    width: 100%;
    text-align: center;
}
.content_latest h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_latest_inner_txt p{
    display: block;
    padding: 6px 0px 30px 0px;
    color: var(--blue-color);
}
.content_latest .Latest_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.txt_area{
    width: 50%;
}
.content_latest .Latest_list .txt_area .date{
    display: block;
    color: var(--red-color);
    font-size: 16px;
    font-weight: 600;
    padding: 50px 0px 20px 0px;
}
.content_latest .Latest_list .txt_area .title{
    display: block;
    padding: 0px 0px 3px 0px;
    color: var(--blue-color);
    font-size: 24px;
    font-weight: 600;
}
.content_latest .Latest_list .txt_area p{
    display: block;   
    padding: 20px 0px 40px 0px;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.content_latest .Latest_list .txt_area button{
    padding: 10px 25px 10px 25px;
    background-color: var(--skyBlue-color);
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: var(--blue-color) 0px 2px 0px;
    cursor: pointer;
}
.content_latest .Latest_list .txt_area button:hover{
    transform: scale(1.03);
    box-shadow: 0px 3px 0px var(--blue-color);
}
.content_latest .Latest_list .txt_area button:active{
    transform: scale(1);
}
.content_latest .Latest_list picture{
    width: 45%;
}
.content_latest .Latest_list picture img{
    display: block;
    border-radius: 0px 30px 0px 30px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_latest_inner{
    width: 100%;
    padding: 100px 0px 80px 0px;
}
.content_latest .Latest_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.txt_area{
    width: 80%;
}
.content_latest .Latest_list .txt_area .date {
    padding: 20px 0px 20px 0px;
}
.content_latest .Latest_list .txt_area .title{
    font-size: 24px;
    line-height: 30px;

}
.content_latest .Latest_list .txt_area button{
    margin-bottom: 40px;
}
.content_latest .Latest_list picture{
    width: 80%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_latest_inner{
    width: 90%;
}
.txt_area{
    width: 38%;
}
.content_latest .Latest_list picture{
    display: flex;
    width: 60%;
}
.content_latest .Latest_list picture img{
    align-self: flex-end;
}
}
/* ---------------------------精選文章------------------------------- */
.content_articles{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_articles_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_articles_inner .txt{
    width: 100%;
    text-align: center;
}
.content_articles_inner h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_articles_inner .txt p{
    display: block;
    padding: 6px 0px 50px 0px;
    color: var(--blue-color);
}
/*-----專題標籤-----*/
.search{
    width: 100%;
}
.search_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    border-bottom: 2px solid rgb(255, 215, 215);
}
.search_list_title {
    font-size: 26px;
    color: var(--red-color);
    font-weight: 600;
}
input{
    display: none;
}
.search_list_title::before {
    content: url('../images/tags_24px.svg');
    display: inline-block;
    vertical-align: middle;
}
.tags_list{
    display: flex;
    width: 70%;
    justify-content: space-around;
}
.tags_list span{
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 105%;
    padding: 0px 0px 8px 0px;
    font-weight: 600;
    color: rgb(116, 116, 116);
    border-bottom: 2px solid transparent;
}
.tags_list span:hover{
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}
input:checked + li > label > span{
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);
}
/*-----js 啟動隱藏-----*/
.hide{
    display: none;
}

/*-----精選文章-----*/
.card_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 0px 0px;
    /* justify-content: space-between; */
}
.card_list .item{
    max-width: 220px;
    padding: 15px;
    margin: 15px 15px 10px 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
}
.card_list .item:hover{
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
}
.card_list .item:hover .pic img{
    transform: scale(1.1);
    transition: .5s;
}
.card_list .pic{
    width: 100%;
    height: 160px;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card_list .pic img{
    max-width: 100%;
    object-fit:cover;
}
.card_list .date{
    padding: 8px 0px 5px 0px ;
    line-height: 10px;
    color: var(--gray-color);
}
.card_list .title{
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0px 8px 0px ;
    color:var(--blue-color);
}
.tags ul li{
    display: inline-block;
    padding: 3px 7px ;
    position: relative;
    margin: 1px;
}
.tags ul img{
    display: inline-block;
    vertical-align: bottom;
    margin: 2px;
}
.tags li span{
    position: relative;
    font-size: 12px;
    padding: 5px 0px 5px 0px ;
    color: white;
}
.tags ul li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background-color: rgb(255, 162, 162);
    border-radius: 0px 5px 0px 5px;
    /* transform: skew(-20deg); */
}
.card_list p{
    font-size: 12px;
    line-height: 20px;
    color: var(--gray-color);
    padding: 5px 0px 20px 0px ;
}

.card_list .item_bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.card_list .item .view{
    font-size: 12px;
    color: var(--gray-color);
}
.card_list .item .arrow{
    display:inline-block;
    width: 20px;
    height: 15px;
    justify-content: center;
    background-image: url('../images/arrow_gray.svg');
    background-repeat:no-repeat;
    background-size: 80%;

}
.card_list .item:hover .arrow{
    transform: none; 
    background-image: url('../images/arrow-red.svg');
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_articles_inner{
    width: 90%;
    padding: 70px 0px 80px 0px;
}
.search_list{
    flex-wrap: wrap;
}
.tags_list {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}
.tags_list span{
    font-size: 14px;
    height: 105%;
}
.card_list{
    justify-content: center;
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_Process_inner{
    width: 100%;
}
}
}