@charset "UTF-8";

/*===========首頁內容===========*/
main{
    width: 100%;
    display: block;
}
/* ----------------------------banner-------------------------------- */
.main_banner{
    min-width: 100%;
    height: 80vh;
    padding-top: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_banner_inner{
    width: 1000px;
    text-align: center;
}
.main_banner_inner h1{
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: var(--blue-color);
}
.main_banner_inner h1 span{
    font-size: 56px;
    font-weight: 600;
    color: var(--red-color);
}
.main_banner p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 20px 0px;
    color: var(--gray-color);
    line-height: 60px;
    font-weight: 600;
}
.main_banner picture img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.main_banner .btn{
    padding: 10px 25px 10px 25px;
    margin-bottom: 30px;
    background-color: var(--BTN-color);
    box-shadow: var(--blue-color) 0px 2px 0px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.main_banner .btn:hover{
    transform: scale(1.03);
    box-shadow: var(--blue-color) 0px 3px 0px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.main_banner{
    min-width: 100%;
    flex-direction: column;
    height: 100%;
}
.main_banner_inner{
    width: 100%;
    text-align: center;
}

.main_banner_inner h1{
    width: 100%;
    font-size: 36px;
    padding: 0px 50px 0px 50px;
    line-height: 55px;

}
.main_banner p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 10px 50px 30px 50px;
    color: var(--gray-color);
    line-height: 30px;
    font-weight: 600;
}
.main_banner_image{
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.main_banner_image img{
    padding: 8px;
    display: block;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .main_banner{
        height: 50vh;
    }
    }
/* ----------------------------三大優勢------------------------------ */
.content_adv{
    width: 100%;
    display: flex;
    justify-content: center; 
}
.content_adv_inner{
    width: 1000px;
    padding: 100px 0px 50px 0px;

}
.content_adv .txt{
    text-align: center;
}
.content_adv h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_adv .txt p{
    display: block;
    padding: 6px 0px 40px 0px;
    color: var(--blue-color);
}
.content_adv .cardList{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content_adv .cardList .item{
    max-width: 220px;
    padding: 15px;
    margin: 15px;
}
.content_adv .cardList .pic{
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content_adv .cardList .pic img{
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.content_adv .cardList .title{
    font-size: 20px;
    font-weight: 600;
    color:var(--blue-color);
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.content_adv .cardList p{
    padding: 0px 0px 30px 0px;
    line-height: 30px;
    font-weight: 600;
    color: var(--gray-color);
}
/* ----------------------------專業團隊------------------------------ */
.content_team{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_team_inner{
    width: 1000px;
    padding: 80px 0px 80px 0px;
    text-align: center;
    
}
.content_team .txt{
    width: 100%;
    text-align: center;
}
.content_team h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_team .txt p{
    display: block;
    padding: 6px 0px 40px 0px;
    color: var(--blue-color);

}
.content_team  .cardList{
    width: 100%;
    padding: 0px 0px 20px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content_team .cardList .item{
    max-width: 220px;
    margin: 10px;
    padding: 15px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 15px;
    text-align: center;
}
.content_team .cardList .item:hover img{
    transform: scale(1.05);
    transition: .5s;
    
}
/* .content_team .cardList .pic{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
} */
.content_team .cardList .pic img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
}
.content_team .cardList .title{
    font-size: 22px;
    font-weight: 600;
    color:var(--blue-color);
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.content_team .cardList p{
    padding: 0px 0px 10px 0px;
    line-height: 30px;
    font-weight: 600;
    color: var(--gray-color);
}
.content_team .cardList .item:hover .title{
    color: var(--red-color);
}
.content_team button{
    padding: 10px 25px 10px 25px;
    background-color: var(--skyBlue-color);
    box-shadow: var(--blue-color) 0px 2px 0px;
    border: 0px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
}
.content_team .btn:hover{
    transform: scale(1.03);
    box-shadow: var(--blue-color) 0px 3px 0px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_team_inner{
    width: 100%;
    padding: 80px 0px 80px 0px;
    
}
.content_team  .cardList{
    width: 100%;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_team_inner{
    width: 100%;
    padding: 80px 0px 80px 0px;
    
}
.content_team  .cardList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_team .cardList .item{
    max-width: 200px;
    margin: 0px;
    padding: 15px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 15px;
    text-align: center;
}
}
/* ----------------------------諮商安排------------------------------ */
.content_arrange{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_arrange_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_arrange .txt{
    width: 100%;
    text-align: center;
}
.content_arrange h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_arrange .txt p{
    display: block;
    padding: 6px 0px 40px 0px;
    color: var(--blue-color);
}
.content_arrange ol{
    width: 90%;
    margin: 0 auto;
    padding: 0px 0px 0px 50px;
}
.content_arrange li{
    color: var(--blue-color);
    font-size: 16px;
    line-height: 40px;
    list-style: decimal;
}
.content_arrange span{
    font-weight: 600;
    border-bottom: var(--red-color) 1.8px solid;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_arrange_inner{
    width: 100%;
}
.content_arrange ol{
    padding: 0px 30px 0px 40px;
}
.content_arrange li{
    padding-bottom: 35px;
    line-height: 30px;
    list-style: decimal;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_arrange_inner{
    width: 100%;
}
.content_arrange ol{
    padding: 0px 30px 0px 40px;
}
.content_arrange li{
    padding-bottom: 35px;
    line-height: 30px;
    list-style: decimal;
}
}
/* ----------------------------預約流程------------------------------ */
.content_Process{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_Process_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
    overflow: hidden;
}
.content_Process .txt{
    width: 100%;
    text-align: center;
}
.content_Process h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_Process .txt p{
    display: block;
    padding: 6px 0px 50px 0px;
    color: var(--blue-color);
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_Process_inner{
    width: 100%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_Process_inner{
    width: 100%;
}
}

/* ----------------------------注意事項------------------------------ */
.content_Notice{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_Notice_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_Notice .txt{
    width: 100%;
    text-align: center;
}
.content_Notice h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_Notice .txt p{
    display: block;
    padding: 6px 0px 50px 0px;
    color: var(--blue-color);
}
.content_Notice .Notice_base{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Notice_base .Notice_base_top{
    border-top: rgb(196, 196, 196) 2px solid;
    display: flex;
    flex-wrap: wrap;
}
.Notice_base .Notice_base_top .word{
    padding-left: 20px;
    list-style: decimal;
}
.Notice_base .Notice_base_bottom{
    border-top: rgb(196, 196, 196) 2px solid;
    display: flex;
    flex-wrap: wrap;
}
.Notice_base .Notice_base_bottom .word ol{
    padding-left: 20px;
    list-style: decimal;  
}

.Notice_base .title{
    width: 35%;
    padding: 30px 0px 80px 0px;
    font-size: 22px;
    color: var(--red-color);
    font-weight: 600;
}
.Notice_base .word{
    width: 65%;
    font-size: 16px;
    line-height: 30px;
    padding: 30px 0px 30px 0px;
    color: var(--blue-color);
}
.Notice_base .word p{
    padding: 0px 0px 15px 0px;
}
.Notice_base span{
    font-weight: 600;
    border-bottom: var(--red-color) 1.8px solid;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_Notice_inner{
    width: 100%;
}
.Notice_base .Notice_base_top{
    width: 100%;
    display: flex;
}
.Notice_base .Notice_base_top .title{
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
}
.Notice_base .Notice_base_top .word{
    width: 100%;
    padding: 0px 50px 0px 60px ;
    list-style: decimal;
}
.Notice_base .Notice_base_top .word li{
    padding: 0px 0px 35px 0px ;
    line-height: 30px;
}
.Notice_base .Notice_base_bottom{
    width: 100%;
    display: flex;
}
.Notice_base .Notice_base_bottom .title{
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
}
.Notice_base .Notice_base_bottom .word{
    width: 100%;
    padding: 0px 50px 0px 60px ;
    list-style: decimal;
}
.Notice_base .Notice_base_bottom .word p{
    padding: 0px 0px 20px 0px ;
}
.Notice_base .Notice_base_bottom .word li{
    padding: 0px 0px 15px 0px ;
    line-height: 30px;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_Notice_inner{
    width: 90%;
}
}

/* -----------------------------footer------------------------------ */
footer{
    width: 100%;
    background-color: var(--blue-color);
}
.footerBase{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 0px 0px;
}
.iconItem{
    box-sizing: border-box;
    padding: 30px 30px 30px 50px;
}
.iconItem .logoPic{
    width: 150px;
    margin-bottom: 30px;
}
.iconItem .logoPic img{
    display: block;
}
.socialPic{
    display: flex;
    justify-content: space-between;
}
.socialPic .pic{
    width: 40px;
    display: flex;
    justify-content: center;
}
.contactItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px;
}
.contactItem .item{
    font-size: 16px;
    padding: 0px 0px 25px 50px;
    color: white;
}
.contactItem .item.title{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.contactItem .item a{
    color: white;
    padding-bottom: 5px;
    font-size:16px;
}
.contactItem .item a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.MenuItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px;
}
.MenuItem .menu{
    font-size: 16px;
    padding: 0px 0px 25px 80px;
    color: white;
}
.MenuItem .menu.title{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.MenuItem .menu a{
    color: white;
    padding-bottom: 5px;
}
.MenuItem .menu a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.LogItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px 50px 30px 390px;
}
.LogItem .log{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 50px;
}
.LogItem .log a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: var(--BTN-color);
}
.LogItem .log a:hover{
    border-bottom: var(--yellow-color) 3px solid;
}
.statement{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(154, 154, 154);
    border-top: rgb(154, 154, 154) 1px solid;
    padding: 15px 0px 10px 0px;
    font-size: 14px;
}
.statement a{
    color: rgb(154, 154, 154);
    font-size: 14px;
}
.statement a:hover{
    color: var(--yellow-color);
}
.copyRight{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(154, 154, 154);
    font-size: 14px;
    padding: 5px 0px 15px 0px;
}