@charset "UTF-8";


/* --------------------共通部分---------------------- */
*{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.backgroundPic{
    width: 100%;
    height: 100%;
    background-image: url('../images/backgroundPic.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}

:root{
    --BTN-color:#FF1A51;
    --blue-color:#002B51;
    --red-color:#FF715C;
    --skyBlue-color:#74CADD;
    --gray-color:#575757;
    --yellow-color:#FFC43D;
}
h2::after{
    content:url('../images/redDot.svg');
    padding: 0px 0px 5px 5px;
}
h2::before{
    content: url('../images/BlueDot.svg');
    padding: 0px 5px 5px 0px;
}

/* ----------------------------header-------------------------------- */
/*回到最上方的按鈕*/
#go_top{
    width: 50px;
    padding: 10px;
    background: none;
    position: fixed; 
    right: 20px;
    bottom: 40px;
    cursor: pointer;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0px #00000040;
    z-index: 2;
}
/*漢堡按鈕*/
button.hamburger{
    display: none;
}

/*======header=====*/
.page_header{
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(48, 48, 48, 0.252);
}
.header_inner{
    display:flex;
    justify-content: space-between;
    width: 1200px;
    max-width: calc(1260px + 50px*2);
    margin: 0 auto;
}
.header_logo{
    width: 200px;
}
.header_logo img{
    padding: 10px;
    display: block;
    width: 100%;
    height: 66px;
}
.header_navigation{
    height: 66px;
}
.header_navigation_nav{
    display: flex;
    height: 100%;
    width: 900px;
}
.header_navigation_list{
    margin-right: 100px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-evenly;
}
.header_navigation_list li{
    border-bottom: 2px solid transparent;

}
.header_navigation_list li a{
    display: block;
    color: var(--blue-color);
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
}
.header_navigation_list li:hover{
    border-bottom: var(--red-color) 2px solid;
}
.header_navigation_list li:hover a{
    color: var(--red-color);
}
.header_navigation_btnArea{
    display: flex;
    width: 23%;
    align-items: center;
    justify-content: space-around;
}
.header_navigation_log-in{
    border: var(--blue-color) 1px solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px 13px;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.header_navigation_log-in:hover{
    border: var(--blue-color) 1px solid;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.200);
    color: var(--blue-color);
}
.header_navigation_sign-up{
    padding: 10px 13px;
    border: var(--BTN-color) 1px solid;
    border-radius: 10px;
    background-color: var(--BTN-color);
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}
.header_navigation_sign-up:hover{
    border: var(--BTN-color) 1px solid;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.200);
    color: white;
}
/*====== 防止第三方套件（e.g. hamburger）在標籤上設定 display: none 優先權問題 ======*/
@media screen and (min-width: 768px){

.header_navigation{
    display: flex !important;
}
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.header_logo{
    width: 40%;
    min-width: 196px;
}
.header_navigation{
    display: none;
    flex-wrap: wrap;
    flex-direction: column; 
    width: 100%; 
}
.header_navigation_nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    left: 0px;
    top: 66px;
    overflow:hidden;
    /* height: 0px; */
    transition: all .3s ;
    z-index: 10;
}
.header_navigation_list{
    text-align: center;
    margin-left: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    overflow:hidden;
    transition: all .3s ;
}
.header_navigation_list li a{
    font-weight: 600;
    color: var(--blue-color);
    padding: 25px 0px 25px 0px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
.header_navigation_btnArea{
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: all .3s ;
}
.header_navigation_nav.show{
    height: 220px;
    display: flex;
    transition: all .3s;
}
.header_navigation_item{
    width: 100%;
    border-bottom:  1px solid #cccccc;
}
button.hamburger{
    display: flex;
}
.header_navigation_btnArea{
    width: 100%;
    align-items: center;
}
.header_navigation_log-in{
    color:var(--blue-color);
    padding: 8px 50px;
    margin:30px 0;
}

.header_navigation_sign-up{
    padding: 8px 50px;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.header_logo{
    width: 200px;
}
.header_logo img{
    padding: 10px;
    display: block;
    width: 100%;
    height: 66px;
}
.page_header{
    display:flex;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 auto;
}
.header_inner{
    width: 100%;
}
.header_navigation{
    width: 100%;
}
.header_navigation_nav{
    display: flex;
    height: 100%;
    width: 100%;
}
.header_navigation_list{
    width: 100%;
    margin-right: 20px;
    margin-left: 50px;
}
.header_navigation_btnArea{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
}
/* -----------------------------準備開始寫日記------------------------------ */
.content_advertise{
    min-width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient( #ffffff2b , #d2e9fc) ; */
}
.content_advertise_inner{
    width: 1000px;
}
.content_advertise_inner .txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_advertise_inner .txt p{
    font-size: 40px;
    font-weight: 600;
    color: var(--blue-color);
}
.advertise_btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42px;
    border: 0px;
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    background-color: var(--BTN-color);
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 0px 5px 0px var(--blue-color);
    cursor: pointer;
}
.advertise_btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 6px 0px var(--blue-color);
}
.advertise_btn:active{
    transform: scale(1);
}
.advertise_vector_pic{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.advertise_vector_pic img{
    max-width: 100%;
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_advertise{
    padding-top: 10px;
    width: 100%;
}
.content_advertise_inner{
    width: 100%;
}
.content_advertise_inner .txt p{
    font-size: 38px;
    text-align: center;
    line-height: 50px;
    padding: 0px 50px 0px 50px ;
}
.advertise_btn{
    margin-bottom: 35px;
}
}
/* -----------------------------footer------------------------------ */
.footer{
    min-width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--blue-color);
}
.footer_inner{
    width: 1000px;
    display: flex;
}
.iconItem{
    box-sizing: border-box;
    padding: 30px 150px 30px 50px;
}
.iconItem .logoPic{
    width: 150px;
    margin-bottom: 30px;
}
.iconItem .logoPic img{
    display: block;
}
.socialPic{
    display: flex;
    justify-content: space-between;
}
.socialPic .pic{
    width: 40px;
    display: flex;
    justify-content: center;
}
.MenuItem{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 30px; */
}
.MenuItem .menu{
    width: 100%;
    font-size: 16px;
    padding: 0px 0px 25px 0px;
    color: white;
}
.MenuItem .menu.title{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.MenuItem .menu a{
    color: white;
    padding-bottom: 5px;
}
.MenuItem .menu a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.contactItem{
    display: flex;
    flex-wrap: wrap;
}
.contactItem .item{
    width: 100%;
    font-size: 16px;
    padding: 0px 0px 25px 0px;
    color: white;
}
.contactItem .null{
    visibility:hidden;
}
.contactItem .item.title{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.contactItem .item a{
    color: white;
    padding-bottom: 5px;
    font-size:16px;
}
.contactItem .item a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.LogItem{
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
}
.LogItem .log{
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    /* margin-bottom: 50px; */
}
.LogItem .log a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: var(--BTN-color);
}
.LogItem .log a:hover{
    border-bottom: var(--yellow-color) 3px solid;
}
.footer_bottom{
    width: 100%;
}
.statement{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(154, 154, 154);
    border-top: rgb(154, 154, 154) 1px solid;
    padding: 15px 0px 10px 0px;
    font-size: 14px;
}
.statement a{
    color: rgb(154, 154, 154);
    font-size: 14px;
}
.statement a:hover{
    color: var(--yellow-color);
}
.copyRight{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(154, 154, 154);
    font-size: 14px;
    padding: 5px 0px 0px 0px;
}
.footer-space{
    flex-grow: 1;
}
.footer_bottom{
    margin-top: 30px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.footer_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.MenuItem{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 50px ;
}
.contactItem{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0px 30px 50px ;
}
.LogItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}
.LogItem .log{
    width: 50%;
    margin: 0px 0px 20px 50px ;
}
.LogItem .log.in{
    margin: 0px 0px 50px 50px ;
}
.statement{
    padding: 30px 30px 10px 30px;
    line-height: 24px;

}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.iconItem{
    padding: 30px 100px 30px 50px;
}
.MenuItem{
    width: 30%;
}
.LogItem{
    padding: 20px 15px 0px 0px;
}
.statement{
    padding: 20px 30px 10px 30px;
    line-height: 24px;

}
}