@charset "UTF-8";


/* --------------------共通部分---------------------- */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
body{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans TC', sans-serif;
}
.backgroundPic{
    width: 100%;
    max-height: 6000px;
    background-image: url('https://img.onl/Z6aMeM');
    background-repeat:no-repeat;
    background-size: cover;
}

:root{
    --BTN-color:#FF1A51;
    --blue-color:#002B51;
    --red-color:#FF715C;
    --skyBlue-color:#74CADD;
    --gray-color:#575757;
    --yellow-color:#FFC43D;
}
h3::after{
    content: url('https://img.onl/s2SI1c');
    padding: 0px 0px 5px 5px;
}
h3::before{
    content: url('https://img.onl/l8RN9P');
    padding: 0px 5px 5px 0px;
}

/* ----------------------------header-------------------------------- */
.logo{
    display:block;
    background-size: contain;
    height: 40px;
    padding: 10px 0px 10px 0px;
}
.page-header{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(48, 48, 48, 0.252);
}
.page-header-base{
    width: 1200px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}
.main-ul{
    display: flex;
}
.main-ul .li-space{
    margin-left: 140px;
    visibility: hidden;
}
.main-ul li{
    padding: 10px;
    cursor:pointer;
    margin-left: 50px;
}
.main-ul li:hover{
    border-bottom: var(--red-color) 2px solid;
}
.main-ul li:hover a{
    color: var(--red-color);
}
.main-ul a{
    display: block;
    color: var(--blue-color);
    font-weight: 600;
}
.main-ul .log-in{
    border: var(--blue-color) 1px solid;
    background-color: white;
    border-radius: 10px;
}
.main-ul .log-in:hover{
    border: var(--blue-color) 1px solid;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.200);
}
.main-ul .log-in:hover a{
    color: var(--blue-color);
}
.main-ul .sign-up{
    border: var(--BTN-color) 1px solid;
    border-radius: 10px;
    background-color: var(--BTN-color);
    margin-left: 30px;
}
.main-ul .sign-up:hover{
    border: var(--BTN-color) 1px solid;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.200);
}
.main-ul .sign-up a{
    color: white;
}
.main-ul .sign-up:hover a{
    color: white;
}

/* ----------------------------main-------------------------------- */
main{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
/* --------------------------main-banner---------------------------- */
.main-banner{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.mb-txt{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mb-txt .txt h2{
    font-size: 36px;
    padding: 150px 0px 20px 0px;
    font-weight: 600;
    color: var(--blue-color);
}
.mb-txt p{
    font-size: 16px;
    padding: 0px 0px 40px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.mb-txt h2{
    font-size: 30px;
    padding: 150px 0px 20px 0px;
    font-weight: 600;
    color: var(--blue-color);
}
.Mbtn{
    text-align: center;
    background-color: var(--BTN-color);
    border-radius: 5px;
    box-shadow: var(--blue-color) 0px 2px 0px;
    padding: 10px 25px 10px 25px;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.Mbtn:hover{
    transform: scale(1.03);
    box-shadow: var(--blue-color) 0px 3px 0px;
}
.mb-pic{
    max-width: 650px;
    padding: 120px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mb-pic img{
    display: block;
    max-width: 450px;
}
/* ----------------------------精選功能------------------------------ */
.content-pf{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-pf .txt{
    width: 1200px;
    text-align: center;
}
.content-pf h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-pf .txt p{
    display: block;
    padding: 0px 0px 40px 0px;
    color: var(--blue-color);
}
.cardList{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardList .item{
    max-width: 220px;
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
}
.cardList .item:hover{
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
}
.cardList .item:hover img{
    transform: scale(1.1);
    transition: .5s;
}
.cardList .pic{
    width: 100%;
    height: 180px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardList .pic img{
    width: 70%;
    height: 70%;
    object-fit: contain;
}
.cardList .title{
    font-size: 22px;
    font-weight: 600;
    color:var(--blue-color);
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.cardList p{
    padding: 0px 0px 30px 0px;
    line-height: 30px;
    color: var(--gray-color);
}
.cardList .item:hover .title{
    color: var(--red-color);
}
/* ---------------------------如何開始------------------------------- */
.content-rm{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-rm .rm-txt{
    width: 1200px;
    text-align: center;
}
.content-rm h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-rm .rm-txt p{
    display: block;
    padding: 0px 0px 30px 0px;
    color: var(--blue-color);
}
.content-rm .roadList{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content-rm .roadList .txt{
    max-width: 600px;
    padding: 20px;
    
}
.content-rm .roadList .txt .Phase{
    display: block;
    color: var(--blue-color);
    font-size: 22px;
    font-weight: 600;
    padding: 50px 0px 20px 0px;
}
.content-rm .roadList .txt .title{
    display: inline-block;
    padding: 0px 0px 3px 0px;
    border-bottom: var(--red-color) 3px solid;
    color: var(--blue-color);
    font-size: 22px;
    font-weight: 600;
}
.content-rm .roadList .txt p{
    display: block;   
    max-width: 400px;
    padding: 20px 0px 0px 0px;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.content-rm .roadList .pic{
    max-width: 500px;
    padding: 20px 20px 20px 20px;
}
.content-rm .roadList .pic img{
    display: block;
}
/* ------------------------------關於我們----------------------------- */
.content-au{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-au .au-txt{
    width: 1200px;
    text-align: center;
}
.content-au .au-txt h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-au .au-txt p{
    display: block;
    padding: 0px 0px 30px 0px;
    color: var(--blue-color);    
}
.content-au .content-au-base{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
}
.content-au-base .BTN{
    width: 50px;
    height: 50px;
}
.content-au-base button{
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 3px 4px rgb(181, 181, 181);
}
.content-au-base .au-btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 6px rgb(181, 181, 181);
}
.content-au-base .au-btn:active{
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 3px rgb(181, 181, 181);
}
.content-au-base .au-btn img{
    width: 100%;
    height: 100%;
    object-fit: content;
    object-position: center center;
}
.content-au .au-pic{
    max-width: 450px;
    padding: 50px 20px 20px 20px;
}
.content-au-base .txt{
    padding: 20px 20px 20px 50px;
    box-sizing: border-box;
}
.content-au .content-au-base .txt .title{
    display: block;
    width: 110px;
    height: 30px;
    border-bottom: var(--skyBlue-color) 3px solid;  
    margin-bottom: 20px; 
    color: var(--blue-color);
    font-size: 22px;
    font-weight: 600;
}
.content-au .content-au-base .txt p{
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
}
.content-au .content-au-base .au-dot{
    width: 15px;
    height: 15px;
    margin: 70px 5px 0px 5px;
    background-color: rgb(189, 189, 189);
    border-radius: 50%;
}
/* -----------------------------心理量表------------------------------ */
.content-test{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-test .test-txt{
    width: 1200px;
    text-align: center;
}
.content-test h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-test .test-txt p{
    display: block;
    padding: 5px 0px 30px 0px;
    color: var(--blue-color);
    font-weight: 600;
    padding-left: 20px;
}
.testList{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content-test .testList .item{
    max-width: 220px;
    padding: 15px;
    margin: 15px 10px 10px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
}
.testList .item:hover{
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
}
.testList .item:hover img{
    transform: scale(1.1);
    transition: .5s;
}
.testList .pic{
    width: 100%;
    height: 170px;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.testList .pic img{
    max-width: 100%;
    object-fit:cover;
}
.testList .title{
    font-size: 18px;
    font-weight: 600;
    color:var(--blue-color);
    padding: 10px 0px 0px 0px;
}
.testList p{
    padding: 50px 0px 0px 0px;
    font-size: 12px;
    line-height: 30px;
    color: var(--gray-color);
}
.testList .item .view{
    padding: 20px 0px 0px 0px;
    line-height: 30px;
    color: var(--gray-color);
}
.testList .item .arrow{
    display:inline-block;
    width: 20px;
    height: 15px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 140px;
    justify-content: center;
    background-image: url('https://img.onl/pGCyBH');
    background-repeat:no-repeat;
    background-size: 80%;

}
.testList .item:hover .arrow{
    transform: none; 
    background-image: url('https://img.onl/XZOXlN');
}
.content-test .more{
    width: 1200px;
    padding-top: 40px;
    display: flex;
    justify-content: end;
}
.content-test .more .moreBtn{
    padding: 12px 10px 10px 10px;
    border-radius: 10px;
    background-color: var(--skyBlue-color);
    color: white;
    font-size: 14px;
    margin-right: 70px;
    font-weight: 400;
    box-shadow: 0px 1px 1px rgb(179, 179, 179);
}
.content-test .more .moreBtn:hover{
    box-shadow: 0px 3px 3px rgb(178, 178, 178);
    background-color: var(--red-color);
}
/* -----------------------------精選文章------------------------------ */
.content-article{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-article .article-txt{
    width: 1200px;
    text-align: center;
}
.content-article h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-article .article-txt p{
    display: block;
    padding: 5px 0px 30px 0px;
    color: var(--blue-color);
}
.articleList{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content-article .articleList .item{
    max-width: 220px;
    padding: 15px;
    margin: 15px 10px 10px 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
}
.articleList .item:hover{
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
}
.articleList .item:hover img{
    transform: scale(1.1);
    transition: .5s;
}
.articleList .pic{
    width: 100%;
    height: 160px;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.articleList .pic img{
    max-width: 100%;
    object-fit:cover;
}
.articleList .title{
    font-size: 18px;
    font-weight: 600;
    color:var(--blue-color);
    padding: 10px 0px 10px 0px;
}
.articleList p{
    padding: 50px 0px 0px 0px;
    font-size: 12px;
    line-height: 30px;
    color: var(--gray-color);
}
.articleList .item .view{
    padding: 20px 0px 0px 0px;
    line-height: 30px;
    color: var(--gray-color);
}
.articleList .item .arrow{
    display:inline-block;
    width: 20px;
    height: 15px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 140px;
    justify-content: center;
    background-image: url('https://img.onl/pGCyBH');
    background-repeat:no-repeat;
    background-size: 80%;

}
.articleList .item:hover .arrow{
    transform: none; 
    background-image: url('https://img.onl/XZOXlN');
}
.content-article .more{
    width: 1200px;
    padding-top: 40px;
    display: flex;
    justify-content: end;
}
.content-article .more .moreBtn{
    padding: 12px 10px 10px 10px;
    border-radius: 10px;
    background-color: var(--skyBlue-color);
    color: white;
    font-size: 14px;
    margin-right: 70px;
    font-weight: 400;
    box-shadow: 0px 1px 1px rgb(179, 179, 179);
}
.content-article .more .moreBtn:hover{
    box-shadow: 0px 3px 3px rgb(178, 178, 178);
    background-color: var(--red-color);
}
/* -----------------------------聽聽他們的心得------------------------------ */
.content-Review{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-Review .Review-txt{
    width: 1200px;
    text-align: center;
}
.content-Review h3{
    display: block;
    padding: 130px 0px 10px 0px;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content-Review .Review-txt p{
    display: block;
    padding: 5px 0px 30px 0px;
    color: var(--blue-color);
}
.ReviewList{
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content-Review .ReviewList .item{
    max-width: 220px;
    padding: 15px;
    margin: 15px 10px 10px 10px;
    /* background-color: white; */
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(178, 178, 178);
}
.content-Review .ReviewList .item.around{
    max-width: 220px;
    padding: 15px;
    margin: 15px 10px 10px 10px;
    /* background-color: white; */
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
    transform: scale(.8);
    opacity: .5;
}
.ReviewList .pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 4px rgb(150, 150, 150);
}
.content-Review .BTN{
    width: 50px;
    height: 50px;
    align-self: center;
    padding: 30px;
}
.content-Review button{
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 50%;
    justify-content: center;
    box-shadow: 0px 3px 4px rgb(181, 181, 181);
}
.content-Review .au-btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 5px 6px rgb(181, 181, 181);
}
.content-Review .au-btn:active{
    width: 48px;
    height: 48px;
    box-shadow: 0px 2px 3px rgb(181, 181, 181);
}
.content-Review .au-btn img{
    width: 100%;
    height: 100%;
    object-fit: content;
    object-position: center center;
}
.content-Review .item .name{
    font-size: 18px;
    font-weight: 600;
    color:var(--blue-color);
    padding: 20px 0px 10px 0px;
    text-align: center;
}
.content-Review .item .score img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.content-Review .item .txt{
    font-size: 16px;
    font-weight: 600;
    color:var(--gray-color);
    padding: 10px 0px 10px 10px;
    line-height: 28px;
    /* text-align: center; */
}
/* -----------------------------準備開始寫日記------------------------------ */
.content-AD{
    max-width: 1200px;;
}
.AD-bgp{
    max-width: 100%;
    padding: 0px 0px 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.AD-bgp img{
    max-width: 75%;
}
.AD-txt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.AD-txt h2{
    font-size: 36px;
    padding: 130px 0px 20px 0px;
    font-weight: 600;
    color: var(--blue-color);
}
.AD-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 0px;
    padding: 0px;
}
.AD-btn .BTN{
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    background-color: var(--BTN-color);
    font-size: 20px;
    font-weight: 600;
    color: white;
    box-shadow: 0px 5px 0px var(--blue-color);
    
}
.AD-btn:hover .BTN{
    transform: scale(1.03);
    box-shadow: 0px 6px 0px var(--blue-color);
}
.AD-btn:active .BTN{
    transform: scale(1);
}
/* -----------------------------footer------------------------------ */
footer{
    width: 100%;
    background-color: var(--blue-color);
}
.footerBase{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px 0px 0px;
}
.iconItem{
    box-sizing: border-box;
    padding: 30px 30px 30px 50px;
}
.iconItem .logoPic{
    width: 150px;
    margin-bottom: 30px;
}
.iconItem .logoPic img{
    display: block;
}
.socialPic{
    display: flex;
    justify-content: space-between;
}
.socialPic .pic{
    width: 40px;
    display: flex;
    justify-content: center;
}
.contactItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px;
}
.contactItem .item{
    font-size: 16px;
    padding: 0px 0px 25px 50px;
    color: white;
}
.contactItem .item.title{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.contactItem .item a{
    color: white;
    padding-bottom: 5px;
    font-size:16px;
}
.contactItem .item a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.MenuItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px;
}
.MenuItem .menu{
    font-size: 16px;
    padding: 0px 0px 25px 80px;
    color: white;
}
.MenuItem .menu.title{
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.MenuItem .menu a{
    color: white;
    padding-bottom: 5px;
}
.MenuItem .menu a:hover{
    border-bottom: var(--red-color) 2px solid;
}
.LogItem{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 30px 50px 30px 390px;
}
.LogItem .log{
    font-size: 1ˊpx;
    font-weight: 600;
    margin-bottom: 50px;
}
.LogItem .log a{
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    background-color: var(--BTN-color);
}
.LogItem .log a:hover{
    border-bottom: var(--yellow-color) 3px solid;
}
.statement{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    border-top: white 1px solid;
    padding: 15px 0px 10px 0px;
    font-size: 14px;
}
.statement a{
    color: white;
    font-size: 14px;
}
.statement a:hover{
    color: var(--yellow-color);
}
.copyRight{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 14px;
    padding: 5px 0px 15px 0px;
}