@charset "UTF-8";

/*===========首頁內容===========*/
main{
    width: 100%;
    display: block;
}
/* ----------------------------banner-------------------------------- */
.main_banner{
    min-width: 100%;
    height: 80vh;
    padding-top: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_banner_inner{
    width: 1000px;
}
.main_banner_inner h1{
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    color: var(--blue-color);
}
.main_banner_inner h1 span{
    font-size: 56px;
    font-weight: 600;
    color: var(--red-color);
}
.main_banner p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 20px 0px;
    color: var(--gray-color);
    line-height: 60px;
    font-weight: 600;
}
.main_banner picture img{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.main_banner{
    min-width: 100%;
    flex-direction: column;
    height: 100%;
}
.main_banner_inner{
    width: 100%;
    text-align: center;
}

.main_banner_inner h1{
    width: 100%;
    font-size: 36px;
    padding: 0px 50px 0px 50px;
    line-height: 55px;

}
.main_banner p{
    font-size: 16px;
    width: 100%;
    text-align: center;
    padding: 10px 50px 30px 50px;
    color: var(--gray-color);
    line-height: 30px;
    font-weight: 600;
}
.main_banner_image{
    display: block;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.main_banner_image img{
    padding: 8px;
    display: block;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.main_banner{
    height: 50vh;
}
}
/* ----------------------------Scroll-------------------------------- */
.scroll{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 35px;
}
.scroll img{
    width: 6%;
}

/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.scroll{
    margin-top: 50px;
}
.scroll img{
    width: 20%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.scroll img{
    width: 12%;
}
}
/* ----------------------------Step 1 建立帳號-------------------------------- */
.RMP_login{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RMP_login_inner{
    width: 1000px;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.txt_area{
    width: 390px;
}
.txt_area .step{
    font-size: 26px;
    padding: 50px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.txt_area h3{
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.txt_area p{
    font-size: 16px;
    padding: 0px 30px 50px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.txt_area button{
    padding: 10px 25px 10px 25px;
    background-color: var(--BTN-color);
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: var(--blue-color) 0px 2px 0px;
    cursor: pointer;
}
.txt_area button:hover{
    transform: scale(1.03);
    box-shadow: var(--blue-color) 0px 3px 0px;
}
.RMP_login_inner img{
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.RMP_login_inner{
    width: 100%;
    padding: 10px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_login_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_login_inner img{
    width: 90%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.RMP_login_inner{
    width: 1000px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_login_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_login_inner img{
    width: 90%;
}
}

/* ----------------------------Step 2 創建日記-------------------------------- */
.RMP_newDiary{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RMP_newDiary_inner{
    width: 1000px;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_newDiary .txt_area{
    width: 390px;
}
.RMP_newDiary .txt_area .step{
    font-size: 26px;
    padding: 50px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_newDiary .txt_area h3{
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_newDiary .txt_area p{
    font-size: 16px;
    padding: 0px 30px 50px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_newDiary_inner img{
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.RMP_newDiary_inner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.RMP_newDiary_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.RMP_newDiary_inner .txt_area p{
    padding: 0px 0px 0px 0px;
}
.RMP_newDiary_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_newDiary_inner img{
    width: 90%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.RMP_newDiary_inner{
    width: 1000px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_newDiary_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 15px 50px;
}
.RMP_newDiary_inner .txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_newDiary_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_newDiary_inner img{
    width: 90%;
}
}
/* ----------------------------Step 3 選取心情、天氣、飲食...等等-------------------------------- */
.RMP_writeDiary{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RMP_writeDiary_inner{
    width: 1000px;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_writeDiary .txt_area{
    width: 390px;
}
.RMP_writeDiary .txt_area .step{
    font-size: 26px;
    padding: 50px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_writeDiary .txt_area h3{
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_writeDiary .txt_area p{
    font-size: 16px;
    padding: 0px 30px 50px 0px;;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_writeDiary_inner img{
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.RMP_writeDiary_inner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.RMP_writeDiary_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.RMP_writeDiary_inner .txt_area p{
    padding: 0px 0px 0px 0px;
}
.RMP_writeDiary_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_writeDiary_inner img{
    width: 90%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.RMP_writeDiary_inner{
    width: 1000px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_writeDiary_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 100px 15px 100px;
}
.RMP_writeDiary_inner .txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_writeDiary_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_writeDiary_inner img{
    width: 90%;
}
}
/* ----------------------------Step 4 月數據統計/表單匯出-------------------------------- */
.RMP_statistics{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RMP_statistics_inner{
    width: 1000px;
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_statistics .txt_area{
    width: 390px;
}
.RMP_statistics .txt_area .step{
    font-size: 26px;
    padding: 50px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_statistics .txt_area h3{
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_statistics .txt_area p{
    font-size: 16px;
    padding: 0px 30px 50px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_statistics_inners img{
    display: block;
}

/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.RMP_statistics_inner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.RMP_statistics_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.RMP_statistics_inner .txt_area p{
    padding: 0px 0px 0px 0px;
}
.RMP_statistics_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_statistics_inner img{
    width: 90%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.RMP_statistics_inner{
    width: 1000px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_statistics_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 100px 15px 100px;
}
.RMP_statistics_inner .txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_statistics_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_statistics_inner img{
    width: 90%;
}
}
/* ----------------------------Step 5 線上諮詢-------------------------------- */
.RMP_consult{
    width: 100%;
    display: flex;
    justify-content: center;
}
.RMP_consult_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_consult .txt_area{
    width: 390px;
}
.RMP_consult .txt_area .step{
    font-size: 26px;
    padding: 50px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_consult .txt_area h3{
    font-size: 28px;
    padding: 0px 0px 10px 0px;
    color: var(--blue-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_consult .txt_area p{
    font-size: 16px;
    padding: 0px 30px 50px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.RMP_consult_inner img{
    display: block;
}
.RMP_consult button{
    padding: 10px 25px 10px 25px;
    background-color: var(--skyBlue-color);
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: var(--blue-color) 0px 2px 0px;
    cursor: pointer;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.RMP_consult_inner{
    width: 100%;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.RMP_consult_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 50px 50px;
}
.RMP_consult_inner .txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_consult_inner picture{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.RMP_consult_inner img{
    width: 90%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.RMP_consult_inner{
    width: 1000px;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.RMP_consult_inner .txt_area{
    width: 100%;
    text-align: center;
    padding: 0px 50px 30px 50px;
}
.RMP_consult_inner .txt_area p{
    padding: 0px 0px 30px 0px;
}
.RMP_consult_inner picture{
    display: flex;
    justify-content: center;
}
.RMP_consult_inner img{
    width: 90%;
}
}