@charset "UTF-8";

/*===========首頁內容===========*/
main{
    width: 100%;
    display: block;
}
.header_navigation_list li:nth-child(3) a{
    border-bottom: 2px solid var(--red-color);
    color: var(--red-color);
}
/* --------------------------main_banner---------------------------- */
.main_banner{
    min-width: 100%;
    height: 80vh;
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_banner_inner{
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.mb_right{
    width: 50%;
    display: flex;
    justify-content: center;
}
.mb_right .mb_right_txt h1{
    letter-spacing: 1px;
    font-size: 40px;
    padding: 140px 0px 20px 0px;
    font-weight: 600;
    color: var(--blue-color);
}
.mb_right p{
    font-size: 16px;
    padding: 0px 0px 40px 0px;
    color: var(--gray-color);
    line-height: 40px;
    font-weight: 600;
}
.mb_pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mb_pic img{
    display: block;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.main_banner{
    min-width: 100%;
    height: 100%;
    
}
.main_banner_inner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.mb_right{
    width: 100%;
    padding: 0px 30px 0px 30px;
    order: 1;
}
.mb_right .mb_right_txt h1{
    padding: 30px 0px 20px 0px;
    line-height: 50px;
}
.mb_pic{
    width: 85%;
    order: 2;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.main_banner{
    height: 45vh;
    padding-top: 0px;
}
.main_banner_inner{
    width: 90%;
}
.mb_right .mb_right_txt h1{
    font-size: 34px;
}
.mb_pic{
    width: 45%;
    align-self: center;
}
}
/* ---------------------------熱門量表------------------------------- */
.content_popular{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_popular_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_popular_inner_txt{
    width: 100%;
    text-align: center;
}
.content_popular h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_popular_inner_txt p{
    display: block;
    padding: 6px 0px 30px 0px;
    color: var(--blue-color);
}
.content_popular .Popular_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.txt_area{
    width: 50%;
    padding-top: 60px;
}
.content_popular .Popular_list .txt_area .title{
    display: block;
    padding: 0px 0px 3px 0px;
    color: var(--blue-color);
    font-size: 24px;
    font-weight: 600;
}
.content_popular .Popular_list .txt_area p{
    display: block;   
    padding: 20px 0px 40px 0px;
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}
.content_popular .Popular_list .txt_area .do{
    font-size: 15px;
    font-weight: 600;
    color: var(--red-color);
}
.content_popular .Popular_list .txt_area .do::before{
    content: url(../images/do.svg);
    vertical-align: middle;
    
}
.content_popular .Popular_list .txt_area button{
    padding: 10px 25px 10px 25px;
    background-color: var(--skyBlue-color);
    color: white;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    box-shadow: var(--blue-color) 0px 2px 0px;
    cursor: pointer;
}
.content_popular .Popular_list .txt_area button:hover{
    transform: scale(1.03);
    box-shadow: 0px 3px 0px var(--blue-color);
}
.content_popular .Popular_list .txt_area button:active{
    transform: scale(1);
}
.content_popular .Popular_list picture{
    width: 45%;
}
.content_popular .Popular_list picture img{
    display: block;
    border-radius: 0px 30px 0px 30px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_popular_inner{
    width: 100%;
    padding: 100px 0px 80px 0px;
}
.content_popular .Popular_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.txt_area{
    width: 80%;
}
.content_popular .Popular_list .txt_area .title{
    font-size: 24px;
    line-height: 30px;

}
.content_popular .Popular_list .txt_area button{
    margin-bottom: 40px;
}
.content_popular .Popular_list picture{
    width: 80%;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
.content_popular_inner{
    width: 90%;
}
.txt_area{
    width: 38%;
}
.content_popular .Popular_list picture{
    display: flex;
    width: 60%;
}
.content_popular .Popular_list picture img{
    align-self: flex-end;
}
}
/* --------------精選量表--------------- */
.content_tests{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_tests_inner{
    width: 1000px;
    padding: 100px 0px 80px 0px;
}
.content_tests_inner .txt{
    width: 100%;
    text-align: center;
}
.content_tests_inner h2{
    display: block;
    font-size: 28px;
    color: var(--blue-color);
    font-weight: 600;
}
.content_tests_inner .txt p{
    display: block;
    padding: 6px 0px 50px 0px;
    color: var(--blue-color);
}
.tests_list{
    width: 100%;
}
.cardBase{
    width: 100%;

}
.cardBase .list_item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardBase .list_item a{
    max-width: 800px;
    padding: 15px 15px 10px 15px;
    margin: 15px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
}
.cardBase .list_item a:hover{
    box-shadow: 0px 2px 10px rgb(150, 150, 150);
}
.cardBase .list_item .pic{
    width: 30%;
    max-height: 210px;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tests_list .cardBase .list_item:hover img{
    transform: scale(1.07);
    transition: .5s;
}
.tests_list .cardBase .list_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBase .txt{
    width: 70%;
    text-align: start;
    padding: 0px 0px 0px 20px;
}
.tests_list .cardBase .title{
    font-size: 20px;
    font-weight: 600;
    color: var(--blue-color);
    padding: 15px 0px 15px 0px;
}
.tests_list .cardBase p{
    font-size: 15px;
    line-height: 25px;
    color: var(--gray-color);
    padding: 0px 0px 0px 0px;
}
.tests_list .cardBase .word{
    height: 100px;
}
.txt_bottom{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}
.tests_list .cardBase .do{
    font-size: 14px;
    color: var(--red-color);
}
.tests_list .cardBase .do::before{
    content: url(../images/do.svg);
    vertical-align: middle;
}
.tests_list .cardBase .list_item .arrow{
    display:inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../images/arrow.svg');
    background-repeat:no-repeat;
    background-size: 80%;
    align-self: flex-end;

}
.tests_list .cardBase .list_item:hover .arrow{
    transform: none; 
    background-image: url('../images/arrow-red.svg');
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
.content_tests_inner{
    width: 90%;
}
.cardBase{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardBase .list_item a{
    max-width: 70%;
    padding: 15px 15px 10px 15px;
    margin: 15px 10px 10px 10px;
    display: flex;
    justify-content: center;
}

.cardBase .list_item .pic{
    width: 100%;
    max-height: 170px;
    border-radius: 0px 15px 0px 15px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.cardBase .txt{
    width: 100%;
    padding: 0px 0px 0px 0px;
}
.tests_list .cardBase .title{
    line-height: 30px;
}
}
/*====== 行動版 RWD | 768px ~ 1200px ======*/
@media screen and (min-width: 768px) and (max-width: 1199.98px){
    .content_tests_inner{
        width: 90%;
    }
}
/* --------------精選量表(頁籤)--------------- */
.simple-pagination ul{
    width: 100%;
    text-align: center;
    margin-top: 30px;

    /*固定在下方
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);*/
}
.simple-pagination li{
    display: inline-block;
    margin-right: 10px;
}
.simple-pagination li a{
    font-size: 18px;
    color: var(--blue-color);
    padding: 10px;
}
.simple-pagination li a:hover{
    color: var(--red-color);
    border-bottom: 2px solid var(--red-color);

}
.simple-pagination .current{
    font-size: 18px;
    color: rgb(173, 173, 173);
    padding: 10px;
}
/*====== 行動版 RWD | 320px ~ 768px ======*/
@media screen and (min-width: 320px) and (max-width: 767.98px){
    .simple-pagination li a{
        font-size: 16px;
        padding: 8px;
    }
    .simple-pagination .current{
        font-size: 16px;
        padding: 8px;
    }
}
